@theme "/usr/share/rofi/themes/Paper.rasi"

element-icon {
  // increase icon size by 2x to match the font DPI
  size: 2ch;
}
configuration {
  show-icons: true;

  // Auto DPI depending on the resolution.
  dpi: 1;
}
