[Unit]
Description=llama.cpp server
StopWhenUnneeded=true

[Service]
Type=simple
ExecStartPre=-/usr/bin/killall llama-server
# Prefixed with `-` not to mark service as failed on net-fails;
#  will be restarted on-demand by socket-activation.
ExecStart=-/home/shou/.local/bin/start-llama-server --port 9182
ExecStartPost=/bin/sleep 10
