[Unit]
Description=Socket activation for llama.cpp server
BindsTo=llama-cpp-server-proxy.socket
After=llama-cpp-server-proxy.socket

BindsTo=llama-cpp-server.service
After=llama-cpp-server.service

[Service]
ExecStart=/lib/systemd/systemd-socket-proxyd --exit-idle-time=20s 127.0.0.1:8081
