* {
  transition: linear 0.1s;
  // all: unset;
}

// Variable Color's
$background: #061705;
$foreground: #8ba0a4;
$darken: #438080;
$lighten: #a1b5a8;

$black: #24283b;
$gray: #565f89;
$red: #f7768e;
$green: #3fb36d;
$yellow: #e0af68;
$blue: #7aa2f7;
$magenta: #bb9af7;
$cyan: #7dcfff;
$white: $foreground;

window {
  background: $background;
  color: $foreground;
  font-family: "Noto Sans Condensed";
}

window.main-window {
  border-radius: 15px;
}

// tray context menu
.tray window {
  border-radius: 0px;
  box-shadow: 0px 0px 5px $darken;
}

.tray menu {
  border-radius: 1px;

  background: $background;
  color: $foreground;
  padding: 8px;

  > menuitem {
    padding: 0px 5px;

    &:disabled label {
      color: gray;
    }

    &:hover {
      background-color: $darken;

      > arrow {
        background-color: $darken;
      }
    }
  }

  arrow {
    background: $background;
    color: $lighten;
  }

  separator {
    background-color: $lighten;
    padding-top: 1px;
    margin: 5px 0px;

    &:last-child {
      padding: unset;
      margin: unset;
    }
  }
}

.main {
  padding-left: 10px;
  padding-right: 15px;
}

.ws {
  transition: 0.1s;
  color: $foreground;
}
.ws-curr-true {
  color: $green;
  // transform: translateY(1);
  font-weight: bold;
  font-size: 1.2em;
}
.ws-hid-false:not(.ws-curr-true) {
  color: $darken;
  text-shadow: 0px 0px $foreground;
  font-size: 0.9em;
}
.ws-vis-true {
  color: $cyan;
}

.active-window-title {
}

circular-progress {
  background-color: $darken;
  transition: 0.5s;
  box-shadow: 3px 3px green;
}

circular-progress > label {
  font-size: 0.8em;
  color: inherit;
  text-shadow: 1px 1px black;
}
.alert circular-progress {
  color: red;
}
.warn circular-progress {
  color: orange;
}
.ok circular-progress {
  color: $foreground;
}

.monitor {
  margin-top: 2px;
  margin-bottom: 2px;
}

.sep {
  margin-left: 5px;
  margin-right: 5px;
  color: $darken;
}

.khal {
  .upcoming {
    color: $darken;
  }
  .ongoing {
    color: $lighten;
    font-weight: bold;
  }
}

.icon {
  font-family: "Symbols Nerd Font Mono";
  padding-top: 0.15em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.battery-ok,
.battery-warn,
.battery-alert,
.battery {
  margin-left: -0.2em;

  .icon-charging,
  .icon-discharging {
    color: $darken;
    margin-top: -0.7em;
    margin-left: -0.2em;
  }

  label.percentage {
    font-size: 1em;
    text-shadow: 1px 1px $darken;
    margin-top: 0.3em;
  }
}

.battery-alert {
  color: red;
}
.battery-warn {
  color: orange;
}
.battery-ok {
  color: $foreground;
}
.battery-detail {
  margin-left: 0.3em;
  padding: 0;
}
.battery-wattage {
  margin-bottom: -5px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  font-size: 0.7em;
}
.battery-time {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: -5px;
  padding: 0;
  font-size: 0.8em;
}

.toggle-enabled {
  margin: 1px;
  border-bottom: 3px solid $lighten;
}
.toggle-disabled {
  margin: 1px;
  border-bottom: 3px solid transparent;
  background-color: $background;
}
