* {
    // transition: linear 0.5s;
    all: unset;
}


// Variable Color's
$background: #183e4b;
$foreground: #8ba0a4;
$darken: #305054;
$lighten: #a1b5a8;

$black: #24283B;
$gray: #565F89;
$red: #F7768E;
$green: #3fb36d;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;

window {
    border-radius: 15px;
    background: $background;
    color: $foreground;
    text-shadow: 0.2px 0.2px rgba(0,0,0,1);
    font: 1em "Noto Sans Condensed"
}

.main {
    padding-left: 10px;
    padding-right: 15px;
}

.ws {
    transition: 0.1s;
    color: $foreground;
}
.ws-curr-true {
    color: $green;
    // transform: translateY(1);
    font-weight: bold;
    font-size: 1.2em;
}
.ws-hid-false:not(.ws-curr-true) {
    color: $darken;
    text-shadow: 0px 0px $foreground;
    font-size: 0.9em;
}

.active-window-title {
}

circular-progress {
    background-color: $darken;
    transition: 0.5s;
    box-shadow: 3px 3px green;
}

circular-progress > label {
    font-size: 0.8em;
    color: inherit;
    text-shadow: 0px 1px black;
}
.alert circular-progress {color: red;}
.warn  circular-progress {color: orange;}
.ok    circular-progress {color: $foreground;}

.monitor {
    margin-top: 2px;
    margin-bottom: 2px;
}

.sep {
    margin-left: 5px;
    margin-right: 5px;
    color: $darken;
    text-shadow: -1px 1px $lighten;
}

.khal {
    .upcoming {
        color: $darken;
    }
    .ongoing {
        color: $lighten;
        font-weight: bold;
    }
}
